<!doctype html>
<html>
  <head>
    <script src="angular.min.js"></script>
    <script src="angular-table.js"></script>
    <script src="angular-strap.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="angular-table.css">
    <link rel="stylesheet" href="app.css">
  </head>
  <body ng-app="geneology">
    <h1>Ancestry of Nine Socrata datasets</h1>
    Read more <a href="http://thomaslevine.com/!/socrata-genealogies/">here</a>.
    <div ng-controller="GeneologyCtrl">
      <select ng-model="table" ng-options="t.source.name for t in tables">
        <option value="">Choose a dataset</option>
      </select>
      <div ng-show="table">
        <h3>The family</h3>
        <ul>
          <li><strong>Original source</strong>: <a href="https://{{table.source.portal}}/-/-/{{table.source.id}}">{{table.source.portal}}</a></li>
          <li><strong>Number of children</strong>: {{table.datasets.length}}</li>
          <li><strong>Total downloads</strong>: {{ table.totals.downloadCount }}</li>
          <li><strong>Total views</strong>: {{ table.totals.viewCount }}</li>
          <li><strong>Description</strong>: {{table.source.description}}</li>
        </ul>
        <h3>Its members</h3>
        <angular-table model="table.datasets" default-sort-column="createdAt">
          <header-row>

            <header-column sortable="false" sort-field-name="id">
              <div style="display: inline-block;">Id</div>
              <sort-arrow-ascending></sort-arrow-ascending>
              <sort-arrow-descending></sort-arrow-descending>
            </header-column>

            <header-column sortable="true" sort-field-name="name">
              <div style="display: inline-block;">Name</div>
            </header-column>

            <header-column sortable="true" sort-field-name="createdAt">
              <div style="display: inline-block;">Created</div>
              <sort-arrow-ascending></sort-arrow-ascending>
              <sort-arrow-descending></sort-arrow-descending>
            </header-column>

            <header-column sortable="true" sort-field-name="viewCount">
              <div style="display: inline-block;">Views</div>
              <sort-arrow-ascending></sort-arrow-ascending>
              <sort-arrow-descending></sort-arrow-descending>
            </header-column>

            <header-column sortable="true" sort-field-name="downloadCount">
              <div style="display: inline-block;">Downloads</div>
              <sort-arrow-ascending></sort-arrow-ascending>
              <sort-arrow-descending></sort-arrow-descending>
            </header-column>

            <header-column sortable="true" sort-field-name="ncell">
              <div style="display: inline-block;">Size</div>
              <sort-arrow-ascending></sort-arrow-ascending>
              <sort-arrow-descending></sort-arrow-descending>
            </header-column>

            <header-column sortable="true" sort-field-name="ncopies">
              <div style="display: inline-block;">Copies</div>
              <sort-arrow-ascending></sort-arrow-ascending>
              <sort-arrow-descending></sort-arrow-descending>
            </header-column>

          </header-row>

          <row
            on-selected="handleRowSelection(row)"
            selected-color="#87cefa" even-color="#ffffff" odd-color="#eeeeee">
            <column><a href="https://{{row.source_portal_hack}}/-/-/{{row.id}}">{{row.id}}</a></column>
            <column>{{row.name}}</column>
            <column>{{row.prettyDate}}</column>
            <column>{{row.viewCount}}</column>
            <column>{{row.downloadCount}}</column>
            <column>
              {{row.ncell}} cells
              <ul style="list-style: none; padding-left: 1em;">
                <li>{{row.ncol}} variables</li>
                <li>{{row.nrow}} records</li>
              </ul>
            </column>
            <!--<column>{{row.ncopies}}</column>-->
            <column>
              <ul>
                <li ng-repeat="portal in row.portals">{{portal}}</li>
              </ul>
            </column>
          </row>
        </angular-table>
      </div>
    </div>
  </body>
</html>
